{% extends "base.html" %}

{% block content %}
    <h1>My orders:</h1>

    {% if order_list %}
    <ul>
      {% for ord in order_list %}
        <br/>

            <li class="{% if ord.is_overdue %}text-danger{% endif %}">
                <img class="rounded-circle" src="{{ord.client_user.profile.photo.url}}" height="50" width="50">
                Order no. {{ord.pk}} {{ord.auto_id}} ({{ ord.due_back }})
            </li>
            <a class="btn btn-primary" href="{% url 'order_detail' ord.pk %}" role="button">Review</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'my_order_update' ord.pk %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'my_order_delete' ord.pk %}">Delete</a>
        <br/>
        {% endfor %}
    </ul>
    {% else %}
      <p>There are no orders.</p>
    {% endif %}       
{% endblock %}